/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --font-size-1: 44px;
  --font-size-2: 36px;
  --font-size-3: 24px;
  --font-size-4: 20px;
  --font-size-5: 18px;
  --font-size-6: 16px;
  --font-size-7: 14px;
  --font-size-8: 12px;

  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 48px;
  --space-9: 64px;
  --space-10: 80px;
  --space-11: 96px;
  --space-12: 128px;

  --line-height-p: 1.7;

  --color-main-1: #087f5b;
  --color-main-2: #099268;
  --color-main-3: #c3fae8;
  --color-main-4: #e6fcf5;
  --color-gray-secondary: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: var(--color-gray);
  border-bottom: 8px solid var(--color-main-1);
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: var(--space-11);
}

h2 {
  margin-bottom: 48px;
  font-size: var(--font-size-2);
  letter-spacing: 0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: var(--color-main-1);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: var(--color-main-2);
}

.btn--small {
  font-size: var(--font-size-7);
  padding: 8px 12px;
  border-radius: 100px;
}

img {
  border-radius: 12px;
}

.btn--big {
  font-size: var(--font-size-5);
  padding: 16px 32px;
  border-radius: 100px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: var(--space-10);
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: var(--space-7);
  font-size: var(--font-size-1);
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 24px;
  font-size: var(--font-size-5);
  line-height: var(--line-height-p);
}

img {
  width: 100%;
}

/* FEATURES */
.features-icon {
  stroke: var(--color-main-1);
  width: 32px;
  height: 32px;
  margin-bottom: var(--space-6);
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: var(--font-size-5);
  line-height: var(--line-height-p);
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: var(--color-main-1);
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
}

.testimonial-title {
  font-size: var(--font-size-3);
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: var(--font-size-5);
  line-height: var(--line-height-p);
  color: var(--color-main-4);
}

.testimonial-author {
  color: var(--color-main-3);
}

/* CHAIRS */
.chair-box {
  padding: var(--space-7);
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair {
  border-radius: 12px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}

h3 {
  margin-bottom: var(--space-7);
  font-size: var(--font-size-4);
}

.chair-details {
  list-style: none;
  margin-bottom: var(--space-8);
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: var(--space-5);
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: var(--color-main-1);
  height: 24px;
  width: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-4);
}

/* Footer */
footer {
  margin-bottom: 48px;
  font-size: var(--font-size-8);
  color: var(--color-gray);
}
